<div class="container">
  <div class="row my-5">
    <h2>Todos los productos</h2>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Productos</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{product.productos}}</th>
          <td>{{product.descripcion}}</td>
          <td>{{product.cantidad}}</td>
          <td>
            <input type="button" value="Edit" class="btn btn-warning mx-1">
            <input type="button" value="Delete" class="btn btn-danger">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
